
.display-cart-product{
    width: 100%;
    margin-top: 1rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 1fr;

}
.product-conatiner{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.checkout-container{
    text-align: center;
    width: 100%;
    background:black;
    display: flex;
    flex-direction:column;
    color:white;
    padding:1rem;
    box-sizing: border-box;
    border-radius: 10px
}
.checkout-product-line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
hr{
    width: 100%;
}