.display-product{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}
.filter-btn{
    margin: 2rem;
    width: 100%;
    text-align: center;
}
.btn{
    padding : 0.5rem 2rem;
    margin-left: 1rem;
}
.Product-card{
    width: 250px;
    box-sizing: border-box;
    border:2px solid #000;
    text-align: center;
    margin: 1rem;
    border-radius: 10px;
    padding:1rem;
}
.Product-image{
    width: 100%;
    height: 100px;
    text-align: center;
    margin-bottom: 1.5rem;
}
.image{
    width: 100px;
    height: 120px;
    object-fit: fill;

}
.Product-quantity{
    margin-top: 1rem;
}
.Product-quantity input{
    width: 50px;
    text-align:center;
}
.Product-title{
    font-size:1rem;
    font-weight: 600;
}
.Product-add{
    margin-top: 1rem;
}
.Product-rating{
    margin-top: 1rem;
}