.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid;
}
.navbar-list ul{
    width:300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
}
.navbar-logo{
    color: rgb(255, 121, 103);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
